.header {
	// Fix to top of page
	position: fixed;
	top: 0;
	width: 100%;

	display: flex;
	flex: 1;
	padding: 1rem 10rem;
	border-top: 1px solid #eaeaea;
	justify-content: start;
	align-items: flex-start;

	border-bottom: 1px solid #eaeaea;
	@media screen and (max-width: 1300px) {
		padding: 1rem 5rem;
	}

	@media screen and (max-width: 900px) {
		padding: 0.5rem 4rem;
	}

	@media screen and (max-width: 600px) {
		padding: 0.2rem 2rem;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: 700;
		color: black;
		word-spacing: 1px;
		line-height: 110%;
	}
}
