.popup {
	z-index: 9999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 2rem 2rem;
	border: 2px solid var(--neutral-300);
	background-color: white;
	min-width: 400px;

	transform: scale(1);
	transition: all 0.2s ease-in;

	.popupHeader {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.divider {
			width: 100px;
			height: 2px;
			background-color: var(--neutral-200);
		}
	}

	button {
		margin-top: 1.5rem;
	}

	form {
		width: 100%;
		margin: 2rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		input {
			width: 100%;

			&[type="submit"] {
				margin-top: 1.5rem;
			}
		}

		// button {
		// 	margin-top: 24px;
		// 	width: 100%;
		// }
	}

	.errorMessage {
		color: var(--danger);
	}

	.successMessage {
		margin-top: 2.5rem;
	}

	.successButton {
		border-color: var(--success);
	}
}
